<div class="docs-api-table-wrap">
    <table class="docs-api-table">
        <thead>
            <tr>
                <th>Property</th>
                <th>Type</th>
                <th>Default</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            @ChildContent
        </tbody>
    </table>
</div>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
}
